.background-pane {
    -fx-background-color: black;
    -fx-opacity: 60%;
}

.main-vbox {
    -fx-background-color: white;
    -fx-padding: 20;
}

.tab-vbox {
    -fx-padding: 10;
}

.tab-h1 {
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-padding: 0 5px 0 5px
}

.tab-h2 {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-padding: 0 5px 0 5px
}

.tab-text {
    -fx-font-size: 24px;
}

.tab-text-bold {
    -fx-font-weight: bold;
}